.wrapper {
  width: 500px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #646cff;
  background-image: linear-gradient(to right,#fc9,red);border-radius: 5px;
}
